<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Trang web cuar rails Tutorial</a>
    Create by Thanh Cong
  </small>
  <nav>
    <ul>
      <li><%= link_to "Trang about",   about_path %></li>
      <li><%= link_to "Trang contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Trang News</a></li>
    </ul>
  </nav>
</footer>